<section class = "compu">
<h1>Wordle</h1>
<div class = "wordle">
@if(ViewBag.ultimaPalabra != null)
{
  for(int i = 0; i < ViewBag.verdes.Length; i++)
  {
    if(ViewBag.verdes[i])
    {
      <h1 class="verde">
          @Html.Raw(ViewBag.ultimaPalabra[i])
      </h1>
    }
    else if(ViewBag.amarillas[i])
    {
      <h1 class="amarillo">
          @Html.Raw(ViewBag.ultimaPalabra[i])
      </h1>
    }else
    {
      <h1>
        @Html.Raw(ViewBag.ultimaPalabra[i])
      </h1>
    }
  }
}else
{
@for(int i = 0; i < ViewBag.verdes.Length; i++)
{

  <h1>
    @Html.Raw("*")
  </h1>
}
}
</div>
<div class = "abajo">
<form action='@Url.Action("juegoWordlea","Home")' method= "post">
<input type="hidden" name="Verif" value="auigikjaghjsbhkj"/>
<input type text name="palabra"/>
 <button type="submit" class="comenzar">
 Enviar Respuesta
 </button>
</form>
</div>
</section>
